{% extends "projects/base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:"m/d/y" }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
